[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
autopep8 = "*"
pytest = "*"
mypy = "*"

[packages]
pyaml = "*"
yg-lockfile = "*"
guessit = "*"
jinja2 = "*"
flask = "*"
uwsgi = "*"

[scripts]
tests = "pytest tests"
type = "mypy video_file_organizer"
mock = "python toolbox.py --mock"
webserver = "python video_file_organizer/webserver.py"
uwsgi = "uwsgi --ini webserver.ini"
mock_vfo = "env CONFIG_FILE='mock/configs/config.yaml' RULE_BOOK_FILE='mock/configs/rule_book.ini' LOG=DEBUG python -m video_file_organizer"
setup = "pipenv-setup sync"

[requires]
python_version = "3.6.9"
