[Unit]
Description=Video file organizer
After=network.target

[Service]
WorkingDirectory=${VFO_WORKINGDIR}
ExecStart=/usr/local/bin/pipenv run ${VFO_VENV}/bin/vfo

[Install]
WantedBy=multi-user.target