[Unit]
Description=15 minute timer for video file organizer

[Timer]
OnBootSec=1min
OnCalendar=*:0/15
Unit=video_file_organizer.service

[Install]
WantedBy=basic.target  