<!doctype html>
<html lang="en">

<head>
  <title>{% block title %}{% endblock %} - VFO</title>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">

</head>

<body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand">VFO</a>
      </div>
      <div class="navbar-right">
        <p class="navbar-text" style="font-size: small;color:black">Something about the worker</p>
        <a class="navbar-link" href="#">
          <span class="navbar-text glyphicon glyphicon-play" aria-hidden="true" style="color:rgb(20, 139, 20)"></span>
        </a>
      </div>
    </div>
  </nav>

  <div class="container-fluid">
    {% block body %}{% endblock %}
  </div>

  <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

</body>

</html>