<!doctype html>
<html lang="en">

<head>
  <title>{% block title %}{% endblock %} - VFO</title>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link rel="apple-touch-icon" sizes="57x57" href="{{ url_for('static', filename='apple-icon-57x57.png') }}">
  <link rel="apple-touch-icon" sizes="60x60" href="{{ url_for('static', filename='apple-icon-60x60.png') }}">
  <link rel="apple-touch-icon" sizes="72x72" href="{{ url_for('static', filename='apple-icon-72x72.png') }}">
  <link rel="apple-touch-icon" sizes="76x76" href="{{ url_for('static', filename='apple-icon-76x76.png') }}">
  <link rel="apple-touch-icon" sizes="114x114" href="{{ url_for('static', filename='apple-icon-114x114.png') }}">
  <link rel="apple-touch-icon" sizes="120x120" href="{{ url_for('static', filename='apple-icon-120x120.png') }}">
  <link rel="apple-touch-icon" sizes="144x144" href="{{ url_for('static', filename='apple-icon-144x144.png') }}">
  <link rel="apple-touch-icon" sizes="152x152" href="{{ url_for('static', filename='apple-icon-152x152.png') }}">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='apple-icon-180x180.png') }}">
  <link rel="icon" type="image/png" sizes="192x192" href="{{ url_for('static', filename='android-icon-192x192.png') }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon-32x32.png') }}">
  <link rel="icon" type="image/png" sizes="96x96" href="{{ url_for('static', filename='favicon-96x96.png') }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon-16x16.png') }}">
  <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="{{ url_for('static', filename='ms-icon-144x144.png') }}">
  <meta name="theme-color" content="#ffffff">

  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">

</head>

<body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand">VFO</a>
      </div>
      <div class="navbar-right">
        {% if worker_info %}
        <p class="navbar-text" style="font-size: small;color:black">{{ worker_info }}</p>
        <a class="navbar-link" href="{{ url_for('routes.toggle_scheduler') }}">
          <span class="navbar-text glyphicon glyphicon-stop" aria-hidden="true" style="color:rgb(187, 28, 28)"></span>
        </a>
        {% else %}
        <a class="navbar-link" href="{{ url_for('routes.toggle_scheduler') }}">
          <span class="navbar-text glyphicon glyphicon-play" aria-hidden="true" style="color:rgb(20, 139, 20)"></span>
        </a>
        {% endif %}
      </div>
    </div>
  </nav>

  <div class="container-fluid">
    {% block body %}{% endblock %}
  </div>

  <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

</body>

</html>